<!Doctype html>
<html lang="en">
  <head>
    <title>To-Do List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  </head>
  <body>

    <header>
       <h1><%= kindOfDay %> To Do List</h1>
    </header>
     
      <div class="box">
          <form action="/" method="post" id="input">
            <input type="text" name="newItem" id="newItem" placeholder="Add New Item...">
            <button type="submit" class="addButton"><img src="../icons/add-32x32.png"></button>
          </form>

         
            
              <% for (let i = 0; i < newListItems.length; i++) { %>
              <div class="flex">
                <div class="item">
                  <input type="checkbox">
                  <p><%= newListItems[i] %></p>        
                </div>
                <div class="delete">
                  <button type="button" onclick="deleted()" class="deleteButton"><img src="../icons/delete-32x32.png"></button>
                </div>
              </div>
              <% } %>
      
        </div>




      
      


    <!--  JavaScript -->
    <script src="../js/items.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>